# Node / React
node_modules/
dist/
build/
*.log
.env
.DS_Store

# Vite
*.local
.vite/

# .NET
bin/
obj/
*.user
*.suo
.vs/
*.cache
*.pidb
*.pdb
*.dll
*.exe
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db